@{
    ViewData["Title"] = "Bed Remove";
}

<div class="card shadow mb-4">
    <div class="card-header d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-secondary">Bed <span class="text-info">Remove</span></h6>
        <div>
            <a class="" href="/Administration/Room/All" role="button">
                <h6 class="m-0 font-weight-bold text-secondary"><i class="fas fa-step-backward"></i>Back to <span class="text-info">All</span></h6>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div>
            <div>
                <h6 class="text-left font-italic text-danger">Are you sure you want to Remove bed from this Room ?</h6>
                <form asp-action="Remove">
                    <input class="col-sm-2 btn btn-danger" type="submit" value="Remove" />
                </form>
            </div>
        </div>
    </div>
</div>
