@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div id="sname" class="fadeIn second">
            <h1>Hospital<span class="text-info">MS</span></h1>
        </div>
        <div class="fadeIn first">
            <h5 class="text-danger">@ViewData["Title"]</h5>
        </div>

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="Please enter your email." />
                <span asp-validation-for="Input.Email" class="text-danger fadeIns second"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-f">Submit</button>
        </form>

        <!-- Back to Login -->
        <div id="formFooter">
            <a class="underlineHover" asp-page="./Login">Already have an account? Login!</a>
        </div>
    </div>
</div>




@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
