@page
@model LoginModel

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div id="sname" class="fadeIn first">
            <h1>Hospital<span class="text-info">MS</span></h1>
        </div>
        <div class="fadeIn second">
            <h5>Use an account to log in.</h5>
        </div>

        <!-- Login Form -->
        <form method="post" asp-action="/">
            <div asp-validation-summary="All"></div>
            <div>
                <input asp-for="Input.Email" class="fadeIn third" name="Email" placeholder="Enter your e-mail">
               
            </div>
            <div>
                <input asp-for="Input.Password" class="fadeIn fourth" name="Password" placeholder="Enter your password">
                
            </div>
            <button type="submit" id="btn-lgn" class="btn btn-info fadeIn five">Log in</button>
            <a asp-page="./Register" id="btn-reg" class="btn btn-danger fadeIn five"> Register </a>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" asp-page="./ForgotPassword">Forgot Password?</a>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
