@page
@model RegisterModel

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div id="sname" class="fadeIn second">
            <h1>Hospital<span class="text-info">MS</span></h1>
        </div>
        <div class="fadeIn first">
            <h5>Create a new account.</h5>
        </div>

        <!-- Register Form -->

        <form method="post" asp-action="/Identity/Account/Register">
            <div asp-validation-summary="All"></div>
            <div>
                <input asp-for="Input.Email" id="login" class="fadeIn second" name="Email" placeholder="Enter your e-mail">
                <span asp-validation-for="Input.Email"></span>
            </div>
            <div>
                <input asp-for="Input.Password" id="password" class="fadeIn third" name="Password" placeholder="Enter your password">
                <span asp-validation-for="Input.Password"></span>
            </div>
            <div>
                <input asp-for="Input.ConfirmPassword" id="confirmPassword" class="fadeIn third" name="ConfirmPassword" placeholder="Confirm your password">
                <span asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <button type="submit" id="btn-reg-reg" class="btn btn-danger fadeIn five ">Register</button>
        </form>


        <div id="formFooter">
            <a class="underlineHover" asp-page="./Login">Already have an account? Login!</a>
            <a class="underlineHover" asp-page="./ForgotPassword">Forgot Password?</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
