@page
@model RegisterModel

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div id="sname" class="fadeIn first">
            <h1>Hospital<span class="text-info">MS</span></h1>
        </div>
        <div class="fadeIn second">
            <h5>Create a new patient account.</h5>
        </div>

        <!-- Register Form -->
        <form method="post" asp-action="/Identity/Account/Register">
            <div asp-validation-summary="All"></div>
            <div>
                <input asp-for="Input.Email" id="login" class="fadeIn third" name="Email" placeholder="Enter your e-mail">
            </div>
            <div>
                <input asp-for="Input.Password" id="password" class="fadeIn fourth" name="Password" placeholder="Enter your password">
            </div>
            <div>
                <input asp-for="Input.ConfirmPassword" id="confirmPassword" class="fadeIn five" name="ConfirmPassword" placeholder="Confirm your password">
            </div>
            <button type="submit" class="btn btn-danger fadeIn five btn-f">Register</button>
        </form>

        <div id="formFooter">
            <a class="underlineHover" asp-page="./Login">Already have an account? Login!</a>
            <a class="underlineHover" asp-page="./ForgotPassword">Forgot Password?</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
