@page
@model ResetPasswordModel

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div id="sname" class="fadeIn first">
            <h1>Hospital<span class="text-info">MS</span></h1>
        </div>
        <div class="fadeIn second">
            <h5>Reset your password.</h5>
        </div>

        <!-- Reset password Form -->

        <form method="post">
            <div asp-validation-summary="All"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div>
                <input asp-for="Input.Email" id="login" class="fadeIn third" placeholder="Enter your e-mail">
            </div>
            <div>
                <input asp-for="Input.Password" id="password" class="fadeIn fourth" placeholder="Enter your password">
            </div>
            <div>
                <input asp-for="Input.ConfirmPassword" id="confirmPassword" class="fadeIn five" placeholder="Confirm your password">
            </div>
            <button type="submit" class="btn btn-info fadeIn five btn-f">Reset</button>
        </form>

        <div id="formFooter">
            <a class="underlineHover" asp-page="./Login">Back to Login page</a>
        </div>
    </div>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
