@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="wrapper">
    <h1>@ViewData["Title"]</h1>
    <p>Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</p>
    
    <p class="text-danger">You will be automatically redirected to Login Page in 5 seconds.</p>
</div>

<script>
    var timer = setTimeout(function () {
        window.location = "/"
    }, 5000);
</script>