@model DepartmentAddInputModel

@{
    ViewData["Title"] = "Department Add";
}
<!-- Departments Card Example -->
<div class="card shadow mb-4">
    <div class="card-header d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-secondary">Department <span class="text-info">Add</span></h6>
        <div>
            <a class="" href="/Department/All" role="button">
                <h6 class="m-0 font-weight-bold text-secondary"><i class="fas fa-step-backward"></i>Back to <span class="text-info">All</span></h6>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-10">
                <form method="post">
                    <div class="form-group row">
                        <label asp-for="Name" class="col-sm-2 col-form-label">
                            Name
                            <i class="text-danger">*</i>
                        </label>
                        <div class="col-sm-10">
                            <input asp-for="Name" class="form-control" />
                            <div class="asp-val">
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <textarea asp-for="Description" class="textarea-des"></textarea>
                            <div class="asp-val">
                                <span asp-validation-for="Description"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="IsActive" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <label class="radio-inline">
                                <input type="radio" asp-for="IsActive" value="0"/> Inactive</label>
                                <label class="radio-inline text-info">
                                <input type="radio" asp-for="IsActive" value="1" checked=""/> Active</label>
                                <div class="asp-val">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Hospital</label>
                        <div class="col-sm-10">
                            <select class="form-control text-primary" id="type" asp-for="HospitalName">
                                <option selected disabled>--- Select Hospital ---</option>
                                @foreach (var type in (IEnumerable<DepartmentAddHospitalViewModel>)this.ViewData["hospitals"])
                                {
                                    <option value="@type.HospitalName">@type.HospitalName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="submit" value="Add" class="btn btn-info btn-block font-weight-bold" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
