@model ReceptionistCreateInputModel

@{var hospitals = (List<ReceptionistCreateHospitalViewModel>)this.ViewData["hospitals"];}

@{
    ViewData["Title"] = "Receptionist Create";
}

<div class="card shadow mb-4">
    <div class="card-header d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-secondary">Receptionist <span class="text-info">Create</span></h6>
        <div>
            <a class="" href="/Administration/Receptionist/All" role="button">
                <h6 class="m-0 font-weight-bold text-secondary"><i class="fas fa-step-backward"></i>Back to <span class="text-info">All</span></h6>
            </a>
        </div>
    </div>
    <div class="card-body">       
            <div class="row">
                <div class="col-md-10">
                    <form method="post">
                        <div class="form-group row">
                            <label asp-for="Email" class="col-sm-3 col-form-label">
                                Email
                                <i class="text-danger">*</i>
                            </label>
                            <div class="col-sm-9">
                                <input asp-for="Email" class="form-control" />
                                <div class="asp-val">
                                    <span asp-validation-for="Email"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Password" class="col-sm-3 col-form-label">
                                Password
                                <i class="text-danger">*</i>
                            </label>
                            <div class="col-sm-9">
                                <input type="password" asp-for="Password" class="form-control" />
                                <div class="asp-val">
                                    <span asp-validation-for="Password"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ConfirmPassword" class="col-sm-3 col-form-label">
                                ConfirmPassword
                                <i class="text-danger">*</i>
                            </label>
                            <div class="col-sm-9">
                                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                <div class="asp-val">
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="FirstName" class="col-sm-3 col-form-label">
                                First Name
                                <i class="text-danger">*</i>
                            </label>
                            <div class="col-sm-9">
                                <input asp-for="FirstName" class="form-control" />
                                <div class="asp-val">
                                    <span asp-validation-for="FirstName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="LastName" class="col-sm-3 col-form-label">
                                Last Name
                                <i class="text-danger">*</i>
                            </label>
                            <div class="col-sm-9">
                                <input asp-for="LastName" class="form-control" />
                                <div class="asp-val">
                                    <span asp-validation-for="LastName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="PhoneNumber" class="col-sm-3 col-form-label">
                                PhoneNumber
                                <i class="text-danger">*</i>
                            </label>
                            <div class="col-sm-9">
                                <input asp-for="PhoneNumber" class="form-control" />
                                <div class="asp-val">
                                    <span asp-validation-for="PhoneNumber"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">
                                Hospital
                                <i class="text-danger">*</i>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control text-primary" id="type" asp-for="HospitalName">
                                    <option selected disabled>--- Select Hospital ---</option>
                                    @foreach (var hospital in hospitals)
                                    {
                                        <option value="@hospital.HospitalName">@hospital.HospitalName</option>
                                    }
                                </select>
                                <div class="asp-val">
                                    <span asp-validation-for="HospitalName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <input type="submit" value="Create" class="btn btn-info btn-block font-weight-bold" />
                        </div>
                    </form>
                </div>
            </div>        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


