<nav class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <div class="img_container mt-3 mb-3">
        <a href="/Home/Index">
            <i class="far fa-hospital fa-5x text-light"></i>
        </a>
    </div>
    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <!-- Heading -->
        <div class="sidebar-heading text-center">
            Administrator
        </div>
        <!-- Nav Item - Dashboard -->
        <div id="p" class="nav-item">
            <a class="nav-link" href="/Home/Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </div>
        <hr class="sidebar-divider">
        <!-- Nav Item - Hospital Collapse Menu -->
        <div class="nav-item">
            <a class="nav-link" href="/Hospital/Details">
                <i class="fas fa-hospital-symbol"></i>
                <span>Hospital</span>
            </a>
        </div>
        <!-- Nav Item - Department Collapse Menu -->
        <div class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDepartmentMenu" aria-expanded="true" aria-controls="collapseDepartmentMenu">
                <i class="fas fa-clinic-medical"></i>
                <span>Department</span>
            </a>
            <div id="collapseDepartmentMenu" class="collapse" aria-labelledby="collapseDepartmentMenu" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Department menu:</h6>
                    <a class="collapse-item" href="/Administration/Department/Create">Create Department</a>
                    <a class="collapse-item" href="/Administration/Department/All">List Departments</a>
                </div>
            </div>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Doctor Collapse Menu -->
        <div class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDoctorMenu" aria-expanded="true" aria-controls="collapseDoctorMenu">
                <i class="fas fa-user-md"></i>
                <span>Doctor</span>
            </a>
            <div id="collapseDoctorMenu" class="collapse" aria-labelledby="collapseDoctorMenu" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Doctor menu:</h6>
                    <a class="collapse-item" href="/Administration/Doctor/Create">Create Doctor</a>
                    <a class="collapse-item" href="/Administration/Doctor/All">List Doctors</a>
                </div>
            </div>
        </div>
        <!-- Nav Item - Patient Collapse Menu -->
        <div class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePatientMenu" aria-expanded="true" aria-controls="collapsePatientMenu">
                <i class="fas fa-user-injured"></i>
                <span>Patient</span>
            </a>
            <div id="collapsePatientMenu" class="collapse" aria-labelledby="collapsePatientMenu" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Patient menu:</h6>
                    <a class="collapse-item" href="utilities-color.html">Add Patient</a>
                    <a class="collapse-item" href="utilities-border.html">List Patients</a>
                </div>
            </div>
        </div>
        <!-- Nav Item - Recepcionist Collapse Menu -->
        <div class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecepcionistMenu" aria-expanded="true" aria-controls="collapseRecepcionistMenu">
                <i class="fas fa-notes-medical"></i>
                <span>Recepcionist</span>
            </a>
            <div id="collapseRecepcionistMenu" class="collapse" aria-labelledby="collapseRecepcionistMenu" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Recepcionist menu:</h6>
                    <a class="collapse-item" href="utilities-color.html">Add Recepcionist</a>
                    <a class="collapse-item" href="utilities-border.html">List Recepcionists</a>
                </div>
            </div>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Room Collapse Menu -->
        <div class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRoomMenu" aria-expanded="true" aria-controls="collapseRoomMenu">
                <i class="fas fa-door-open"></i>
                <span>Room</span>
            </a>
            <div id="collapseRoomMenu" class="collapse" aria-labelledby="collapseRoomMenu" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Room menu:</h6>
                    <a class="collapse-item" href="/Administration/RoomType/Create">Create RoomType</a>
                    <a class="collapse-item" href="/Administration/RoomType/All">List RoomTypes </a>
                    <a class="collapse-item" href="/Administration/Room/Create">Create Room</a>
                    <a class="collapse-item" href="/Administration/Room/All">List Rooms </a>
                </div>
            </div>
        </div>
    }
    else if (this.User.Identity.IsAuthenticated && this.User.IsInRole(GlobalConstants.PatientRoleName))
    {
        <div class="sidebar-heading text-center">
            Patient
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/Hospital/Details">
                <i class="fas fa-hospital-symbol"></i>
                <span>Hospital</span>
            </a>
        </div>
        <!-- Nav Item - Departments -->
        <div class="nav-item">
            <a class="nav-link" href="/Department/All">
                <i class="fas fa-clinic-medical"></i>
                <span>Departments</span>
            </a>
        </div>
    }
    else if (this.User.Identity.IsAuthenticated && this.User.IsInRole(GlobalConstants.DoctorRoleName))
    {
        <div class="sidebar-heading text-center">
            Doctor
        </div>
    }
    else if (this.User.Identity.IsAuthenticated && this.User.IsInRole(GlobalConstants.ReceptionistRoleName))
    {
        <div class="sidebar-heading text-center">
            Recepcionist
        </div>
        <!-- Nav Item - Charts -->
        <div class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span>
            </a>
        </div>
    }
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</nav>
