@{
    ViewData["Title"] = "Dashboard";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Welcome, @this.User.Identity.Name</h1>
</div>
<!-- Content Row -->
<div class="row">
    <!-- Departments Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-secondary text-uppercase mb-1">Departments</div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">5</div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-building fa-5x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Doctors Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-info text-uppercase mb-1">Doctors</div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">65</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-md fa-5x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Patients Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-info text-uppercase mb-1">Patients</div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">402</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-injured fa-5x text-gray-300 "></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Recepcionist Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-secondary text-uppercase mb-1">Recepcionist</div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">20</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-nurse fa-5x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Rooms Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-info text-uppercase mb-1">Rooms</div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">35</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-door-open fa-5x text-gray-300 "></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-info text-uppercase mb-1">Beds</div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">120</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-bed fa-5x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>